*{
margin:0;
box-sizing: border-box;
padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__salesforce{
 max-width: 500px;
 /* height: 500px; */
}
.form__salesforce *{
    margin: 8px;
}